/* 상단 메뉴 */
ul#menu_wrapper > li.top-menu > a.top-menu-link > span {
    color: #454e5a;
    font-weight:bold;
    border:2px solid transparent;
    padding:5px 20px;
    margin:0px 5px;
}
ul#menu_wrapper > li.top-menu > a.top-menu-link:hover > span {
    color: #454e5a;
    font-weight:bold;
    border:2px solid #454e5a;
    border-radius:12px;
}

ul#menu_wrapper > li.top-menu > a.top-menu-link.selected > span {
    color: #454e5a;
    font-weight:bold;
    border:2px solid #454e5a;
    border-radius:12px;
}
/* 로고 영역 */
.header-navbar .navbar-wrapper .navbar-logo {
    width:auto; padding-left:10px; padding-right:10px;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
    top:0;
    right:-30px;
}

#menu_wrapper {
    margin-left:30px;
}

.page-header {
    background-image:none;
}

.pcoded[fream-type="theme1"] .main-menu .main-menu-header:before, .pcoded[fream-type="theme1"] .page-header:before {
    background-color:#009ead;
}

.user-name-disp {
    color:#000;
}

@media (min-width: 768px) {
    .page-header {
        height:36px;
    }
}

.page-header .page-block {
    padding:5px 40px;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-header .pcoded-left-header, .pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar {
    margin-top:36px;
}

li.top-menu div.menu-bottom {
    height:0px;
    position: relative;
    line-height: 0;
}

li.top-menu div.menu-bottom img {
    margin:-23px auto 0px auto;
}

li.top-menu div.menu-bottom.hide {
    display:none;
}

.btn-custom {
    border:1px solid #b9b9b9; border-radius:3px;
    padding:3px 15px;
    color:#818181;
    background-color:#fff;
    font-size:11px;
}

.btn-custom:hover {
    background-color:#818181;
    color:#fff;
}

/* 레이아웃 표시 화면 */
.l-color {padding-bottom:0px;}
.l-color-1 { color:rgb(0, 119, 255); }
.l-color-2 { color:rgb(0, 200, 181); }
.l-color-3 { color:rgb(122, 122, 122); }
.l-color-4 { color:rgb(255, 61, 157); }
.l-color-5 { color:rgb(254, 36, 0); }

.layout-stick-1 {
    width:100%;
    background-color:rgb(0, 119, 255);
    height:6px;
    border-radius:3px;
}
.layout-stick-2 {
    width:100%;
    background-color:rgb(0, 200, 181);
    height:6px;
    border-radius:3px;
}
.layout-stick-3 {
    width:100%;
    background-color:rgb(122, 122, 122);
    height:6px;
    border-radius:3px;
}
.layout-stick-4 {
    width:100%;
    background-color:rgb(255, 61, 157);
    height:6px;
    border-radius:3px;
}

.layout-gubn-1 {
    position: relative;
    height:80px;
    width:50%;
    float:left;
}
.layout-gubn-2 {
    position: relative;
    height:80px;
    width:50%;
    float:left;
}
.layout-gubn-2 .gubn-bar {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ededed+50,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 50%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 50%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#ededed 50%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    width:2px;
    height:80px;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
}
.layout-motor-img {
    width:40px;
    height:40px;
    margin-top:30px;
}
.gubn-text {
    margin-top:10px;
}
.gubn-number {
    font-size:28px;
    font-weight:bold;
}

.main-body .page-wrapper {
    padding: 15px 15px 0px 15px;
}

.pcoded-inner-content {
    padding:0px;
}

.card {
    margin-bottom:15px;
}

.card.mg-bot {
    margin-bottom:10px;
}

.card .card-header h5:after {
    background-color:transparent;
    width:0px;
    height:0px;
}

.row {
    margin:0px;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-header .pcoded-left-header, .pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar {
    position: absolute;
    left:0px;
    top:0px;
    margin-top:36px;
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
    margin-left:0px !important;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu[dropdown-icon="style3"]>a.hidden:after {
    content: '';
    color:white;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu[dropdown-icon="style3"]>a:after {
    content: '\e61a';
    color:white;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item>li>a .pcoded-mtext {
    left:40px;
    color:white;
    width: 170px;
    text-overflow: ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}
.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a .pcoded-micon, .pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li:hover>a .pcoded-micon {
    color:white !important;
}

.pcoded[nav-type="st1"] .pcoded-item.pcoded-left-item>li>a>.pcoded-micon, .pcoded[nav-type="st2"] .pcoded-item.pcoded-left-item>li>a>.pcoded-micon {
    color:white !important;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a, .pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li:hover>a {
    color:white !important;
}

#mCSB_1_container_wrapper {
    background-color: #2e323d;
}

.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu {
    background-color: #2e323d !important;
}

.pcoded .pcoded-navbar .pcoded-item.small:after {
    width:40px;
}

.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item .pcoded-hasmenu .pcoded-submenu li:hover>a:before {
    border-left-color:transparent;
}

.pcoded .pcoded-navbar[navbar-theme="themelight1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li>a {
    color:white;
    width: 190px;
    text-overflow: ellipsis;
    white-space:nowrap;
    word-wrap:normal;
    overflow:hidden;
}

/* 트리구조 검색용 */
.tree-search-text {width:140px;padding: 2px 0px;display:inline-block;vertical-align: top;}
.tree-search-text.text-large {width:150px;}
.tree-search-btn {padding:4px 7px; vertical-align: top;}

/* Layout 용 css */
.box-tree-wrapper {
    border:1px solid gray; padding:20px 10px 10px 10px; margin-top:15px; display:inline-block; width:100%;
}
.box-tree-wrapper.half {
    width:49%;
}
.box-tree-btn-wrapper {
    margin-top:-30px; padding:0px 5px;
}
.box-tree-btn-area {
    background-color:white;
}
.box-tree-btn {
    padding:2px 7px;
    display:inline-block;
}
.box-tree-leaf {
    padding-top:5px;
}
.box-tree-children {
    padding-top:5px;
}
.draggable-div {
    border:1px solid #28a745;
    padding: 3px;
    font-size:11px;
    color:white;
    background-color:#28a745;
}
.draggable-div2 {
    cursor:pointer;
}
div.draggable-img {
    display:inline-block;
    cursor:pointer;
}
img.motor-img {
    width:30px; height:30px; margin-right:5px;
}

.img-flag {
    width:50px;
    height:50px;
}

@media only screen and (max-width: 768px) {
    .page-header .page-block .breadcrumb {
        float: right;
        margin-top:0px;
    }
}

/* 상단 메뉴 */
ul#menu_wrapper > li.top-menu {
    width:auto;
}

ul#menu_wrapper > li.top-menu > a.top-menu-link > span {
    width:auto;
}
ul#menu_wrapper > li.top-menu-seperator-line {
    background-color:transparent;
}

/* 모바일 메뉴 */
@media only screen and (min-width: 993px) {
    #mobile_menu_wrapper {
        display:none;
    }
}
@media only screen and (max-width: 992px) {
    #mobile_menu_wrapper {
        display:block;
        width:calc(100% + 40px);
        overflow-y:auto;
        padding:15px 0px;
        background-color:#2e323d;
        color:#fff;
        margin-left:-20px;
    }

    #mobile_menu_wrapper li {
        clear: both;
        float: unset;
        display:block;
        width:100%;
        line-height:2;
        padding-left:0px;
        padding-right:0px;
    }

    #mobile_menu_wrapper a {
        display:inline-block;
        width:100%;
        color:#fff;
        transition-duration:0s;
        margin-top:3px;
    }

    #mobile_menu_wrapper ul.level2-wrapper {
        background-color:#393c47;
    }

    #mobile_menu_wrapper ul.level3-wrapper {
        background-color:#464954;
    }

    #mobile_menu_wrapper li.level1 {
        margin-left:0px;
    }

    #mobile_menu_wrapper li.level2 {
        margin-left:0px;
    }

    #mobile_menu_wrapper li.level2 > a {
        padding-left:35px;
    }

    #mobile_menu_wrapper li.level3 > a {
        padding-left:55px;
    }

    #mobile_menu_wrapper li.level1 > a:hover {
        background-color:#0063a7;
        color:#fff;
        font-weight:bold;
    }

    #mobile_menu_wrapper li.level2 > a:hover {
        background-color:#0063a7;
        color:#fff;
        font-weight:bold;
    }

    #mobile_menu_wrapper li.level3 > a:hover {
        background-color:#0063a7;
        color:#fff;
        font-weight:bold;
    }

    #mobile_menu_wrapper li.level1 > a.active {
        background-color:#0063a7;
        color:#fff;
    }

    #mobile_menu_wrapper li.level2 > a.active {
        background-color:#0063a7;
        color:#fff;
    }

    #mobile_menu_wrapper li.level3 > a.active {
        background-color:#0063a7;
        color:#fff;
    }

    #mobile_menu_wrapper li.level1 > a span {
        display:inline-block;
        width:20px;
    }

    #mobile_menu_wrapper li.level2 > a span {
        display:inline-block;
        width:20px;
    }

    #mobile_menu_wrapper li.level3 > a span {
        display:inline-block;
        width:20px;
    }

    #mobile_menu_wrapper li.level1 > a.has-child.closed span:before {
        content:'+';
    }

    #mobile_menu_wrapper li.level2 > a.has-child.closed span:before {
        content:'+';
    }

    #mobile_menu_wrapper li.level3 > a.has-child.closed span:before {
        content:'+';
    }

    #mobile_menu_wrapper li.level1 > a.has-child span:before {
        content:'-';
    }

    #mobile_menu_wrapper li.level2 > a.has-child span:before {
        content:'-';
    }

    #mobile_menu_wrapper li.level3 > a.has-child span:before {
        content:'-';
    }
}

.mCSB_container_wrapper {
    margin-bottom:0px;
}

.pcoded[fream-type="theme1"] .main-menu .main-menu-header:before {
    background-color:#2e323d;
}

.pcoded-inner-navbar {
    height: calc(100% + 20px) !important;
}

