/* common */
html { overflow-y: scroll; }
html, body { height: 100%; }
body, input, button, select, textarea, sub { color: #333; font-size: 14px; font-family: 'Pretendard', '돋움', dotum, sans-serif; }
button { padding: 0; border: none; background: transparent; }
strong,em { font-weight: bold; }
th,td { vertical-align: middle; }

/* layout */
#wrap { position: relative; min-width: 320px;}
#container {min-height: 750px; padding-top:100px;}
.inner { position: relative; max-width: 1400px; margin: 0 auto; }

@media screen and (max-width:1400px) {
    .inner {padding-left: 3%; padding-right: 3%;}
}

@media screen and (max-width:620px) {
    #container {padding-top: 80px;}
}

/* header */
#header { position: fixed; width: 100%; height: 100px; top: 0; opacity: 1; border-bottom: 1px solid rgba(255,255,255,0.25); background: #fff; z-index: 999; transition: height .3s, border .3s, background-color .5s; box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);}
#header h1 { display: block; position: absolute; top: 36px; left: 3%; z-index: 1;}
#header h1 a {display: block; width: 259px; height: 24px; background:url('../images/common/logo.png') 0/cover no-repeat; text-indent: -9999px;}
#header .btn_nav {position: absolute; top: 10px; right: 3%;}
#header .btn_nav button { width: 75px; height: 75px; }
#header .nav_close { z-index: 110; position: fixed; top: 0; right: -40px; display: block; transition: right 0.3s ease; }
#header .nav_close>button { width: 40px; height: 40px; background: #111 url('../images/common/ico_cancel.png') no-repeat 50%/18px; text-indent: -9999px; }
#header.open .nav_close { right: 290px; }
#header.open #gnb { top:100px; right: 0; padding-left: 0; height: 470px; box-shadow: 0 1px 5px 0 rgb(0 0 0 / 15%);} 
#header .btn_close { z-index: 105; position: absolute; top: -455px; transition: right 0.3s ease-out; } 
#header .btn_close>button { position: relative; width: 40px; height: 40px; }
#header .btn_close>button:before,
#header .btn_close>button:after { content: ''; display: block; margin: 0 auto; width: 22px; height: 2px; background: #333; }
#header .btn_close>button:before { transform: translateY(2px) rotate(45deg); }
#header .btn_close>button:after { transform: translateY(0px) rotate(135deg); }
#header.open .btn_close { top:8px; right: 30px; z-index: 200; }
#header .btn_bar button>span { position: relative; display: block; margin: 0 auto; width: 20px; height: 2px; background: #373737; text-indent: -9999px; transition: background 0.2s ease; }
#header .btn_bar button>span:after, #header .btn_bar button>span:before { position: absolute; display: block; right: 0; width: 20px; height: 2px; background: #373737; }
#header .btn_bar button>span:after { content: ''; top: -7px; transition: all 0.2s ease; }
#header .btn_bar button>span:before { content: ''; top: 7px; transition: all 0.3s ease; }
#header .head_util { display: flex; align-items: center; position: absolute; right:7%; top:33px; }
#header .head_util a {display: flex;}
#header .head_util a.login span { overflow: hidden; position: absolute; width: 0; height: 0; font-size: 0; line-height: 0; text-indent: -9999px;}
#header .head_util a.login::before {content: ''; display: inline-block; width: 19px; height: 21px; background-image: url('../images/common/ico_login.png'); background-repeat: no-repeat;}
#header .head_util a.join {margin-left:15px;}
#header .head_util a.join span { display: block; height:34px; padding: 0 20px; border-radius: 30px; color:#fff; line-height: 33px; background-color: #121619; font-size: 14px; }
#header .head_util a.join02 {margin-left: 15px;}
#header .head_util a.join02 span { display: block; height:34px; padding: 0 20px; border-radius: 30px; line-height: 33px; border:1px solid #333; font-size: 14px; font-weight: 500;}

#gnb > ul > li.m_head_util {display: none;}

@media screen and (max-width:1400px) {
    #header .head_util {right: 9%;}
}

@media screen and (max-width:1100px) {
    #header.open .mask { position: fixed; z-index: 100; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; }
    #header.open #gnb {overflow-y: auto; top:0; height: 100%; padding: 70px 0;}
    #header .head_util {display: none;}
    #gnb > ul > li.m_head_util {display: block;padding: 0 18px;}
    #gnb > ul > li.m_head_util strong {display:block; margin-bottom:20px; font-size: 18px; font-weight: 600;}
    #gnb > ul > li.m_head_util a {border: 1px solid #1b63c4; color: #1b63c4; font-weight: 600; text-align: center;}
}

@media screen and (max-width:620px) {
    #header {height: 80px;}
    #header h1 {top: 30px;}
    #header h1 a {width: 228px; height: 21px;}
    #header .btn_nav {top: 0; right: 0;}
}

/* gnb */
#gnb { position:fixed; display:block; top:-455px; padding-top:25px; padding-right:0; width:100%; background:#fff; z-index:110; transition: right 0.3s ease; } 
#gnb > ul {display:flex; text-align:left; padding: 0 13%;}
#gnb > ul > li { display:block; width:100%; padding: 0; margin:2% 1% 0 0; text-align: left;}
#gnb > ul > li:last-child {margin-right: 0;}
#gnb > ul > li:after { display:none }
#gnb > ul > li > a { display: block; padding:0 18px; margin-bottom: 20px; height:60px; line-height:60px; text-align: center; font-size:17px; font-weight: 500; font-family: 'Pretendard', '돋움', dotum, sans-serif; color:#000; border: 1px solid #ddd; border-radius: 5px; transition: all 0.2s;}
#gnb > ul > li > a:hover { background-color: #009fb5; border:1px solid #009fb5; color: #fff; text-decoration: none;}
#gnb > ul > li:first-child > ul { border:0 none }
#gnb > ul > li > ul > li > a { position:relative; display:block; padding:0 26px 0 31px; height:46px; line-height:46px; color:#666; font-size:16px; font-family: 'Pretendard', '돋움', dotum, sans-serif; text-align:left; } 
#gnb > ul > li > ul > li:last-child > a { border-bottom:0 none }
#gnb > ul > li > ul > li > a:before { content:''; position:absolute; top:50%; left:18px; display:block; width:6px; height:1px; background:#b3b3b3 }
#gnb > ul > li.on > ul { max-height:2000px; }
#gnb > ul > li.on > a { background:#13be7e url('../images/common/arr_menu_on.png') 92.4% 50% no-repeat; background-size:11px; color:#fff !important }
#gnb > ul > li > a:after, #gnb.open span.bg { display:none; }
#gnb>ul>li>ul>li>a:hover:after {display: none;}

@media screen and (max-width:1700px) {
    #gnb > ul {padding: 0 8%;}
}

@media screen and (max-width:1500px) {
    #gnb > ul {padding: 0;}
    #gnb > ul > li {margin: 2% 1% 0 1%;}
    #gnb > ul > li:last-child {margin-right: 1%;}
    #gnb > ul > li > a {font-size: 16px;}
    #gnb > ul > li > ul > li > a {font-size: 14px;}
}

@media screen and (max-width:1200px) {
    #gnb > ul > li > ul > li > a {padding-left: 20px; padding-right: 25px;}
    #gnb > ul > li > ul > li > a:before {left: 8px;}
}

@media screen and (max-width:1100px) {
    #gnb {top: 0; right: -290px; width: 290px;}
    #gnb > ul {flex-direction: column;}
    #gnb > ul > li {margin: 0;}
    #gnb > ul > li > a {height: 40px; margin: 5px 0; line-height: 40px; font-size: 14px; border: 0; text-align: left; font-weight: 600;}
    #gnb > ul > li > ul > li > a {font-size: 13px;}
    #gnb > ul > li > ul {background-color: #f7f8fa;}
    /* #gnb > ul > li > ul {position:static;padding:0;height:auto;max-height:0;min-height:auto;border:0;display:block !important;overflow:hidden;transition:max-height 0.8s;background:#f1f1f1}  */
}

/* footer */
#footer {padding: 30px 0 50px; border-top: 1px solid #e7e8ea;}
.footer {display: flex;}
.footer li.footer_logo {margin-right: 35px;}
.footer li.footer_cont .footer_link {margin-bottom: 15px;}
.footer li.footer_cont .footer_link br {display:none;}
.footer li.footer_cont .footer_link a {font-size: 15px;}
.footer li.footer_cont .footer_link a:first-child {font-weight: 600; color: #000000;}
.footer li.footer_cont .footer_link a::after {content: ''; display: inline-block; width: 1px; height: 9px; margin-left: 15px; margin-right: 15px; background-color: #dddddd;}
.footer li.footer_cont .footer_link a:last-child::after {display: none;}
.footer li.footer_cont address span {font-size: 15px; color: #555555;}
.footer li.footer_cont address .copyright {font-size: 13px; color: #999999; letter-spacing: 0;}
#footer .tel {position: absolute; top: 0; padding: 30px 35px; border-radius: 50px; right:0; font-size: 18px; background-color: #f6f6f6;}

@media screen and (max-width:820px) {
    #footer {padding: 30px 0;}
    .footer li.footer_logo > img {width: 120px;}
    .footer li.footer_cont .footer_link a {font-size: 14px;}
    .footer li.footer_cont address span {font-size: 14px;}
    #footer .tel {right: 3%; padding: 20px 40px; font-size: 16px;}
}

@media screen and (max-width:720px) {
    .footer {flex-direction: column;}
    .footer li.footer_logo {margin-right: 0; margin-bottom: 20px;}
    .footer li.footer_cont .footer_link {margin-bottom: 20px;}
}

@media screen and (max-width:620px) {
	.footer li.footer_cont .footer_link a {display:inline-block;}
	.footer li.footer_cont .footer_link a::after {margin-right:8px; margin-left:8px;}
}

@media screen and (max-width:420px) {
    #footer .tel {padding: 15px; font-size: 14px;}
    .footer li.footer_cont .footer_link br {display:block;}
}

/* 퀵메뉴 */
.quick_menu {position: fixed; bottom: 22px; right: 22px; width: 103px; height: 103px; border-radius: 35px; background: #009fb5 url(../images/main/ico_car.png)top 22px center no-repeat; box-shadow: rgb(0 0 0 / 20%) 0px 0.2em 0.8em;}
.quick_menu a {display: block; width: 100%; height: 100%; padding-top: 60px; font-size: 15px; color: #fff; text-align:center; font-weight: 600; text-decoration: none;}

@media screen and (max-width:920px) {
    .quick_menu {display:none;}
}

/********************** 2023-04-11 footer수정 **********************/
.footer li.footer_cont address span {position:relative; margin-right: 10px; padding-right: 15px;}
.footer li.footer_cont address span::after {content: ''; display: block; position:absolute; right: 0; top: 4px; width: 1px; height: 10px; background-color: #ddd;}
.footer li.footer_cont address span.last {margin-right: 0; padding-right: 0;}
.footer li.footer_cont address span.last::after {display: none;}

@media screen and (max-width:1300px) {
    #footer .tel {display: none;}
}

@media screen and (max-width:1200px) {
    .footer li.footer_cont address {display: flex; flex-wrap: wrap; width: 80%;}
    .footer li.footer_cont address .copyright {width: 100%;}
}

@media screen and (max-width:720px) {
    .footer li.footer_cont address {width: 100%;}
    .footer li.footer_cont address span::after {display: none;}
}

/********************** 2023-05-17 footer수정 **********************/

@media screen and (max-width:920px) {
    .quick_menu {display:block; width: 93px; height: 93px; border-radius: 25px;}
    .quick_menu a {font-size: 14px;}
}

