/* reset */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
menu,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
thead,
th,
tr,
td,
video,
tt,
u,
ul,
var,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    color: #333;
    font-size: 85%;
    line-height: 1.5em;
    -webkit-text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
table,
tr,
th,
td,
input,
button,
select,
textarea {
    font-size: 1em;
    box-sizing: border-box;
}

body,
input,
button,
select,
textarea,
sub {
    font-family: "돋움", dotum, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
}

cite,
address,
optgroup {
    font-style: normal;
}

kbd,
samp,
code {
    font-family: monospace;
}

a {
    color: inherit;
}

a:link,
a:visited,
a:focus,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button,
label {
    cursor: pointer;
}

code {
    display: block;
}

input[type="submit"] {
    -webkit-appearance: none;
}

legend,
hr {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

legend,
hr,
caption {
    visibility: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

img,
input,
button,
select,
textarea {
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

ul,
ol {
    list-style: none;
}

img,
fieldset {
    border: 0;
}

abbr,
acronym {
    border-bottom: 1px dotted black;
    cursor: help;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
}

p {
    word-break: break-all;
}

td,
th {
    word-break: break-all;
}

article,
aside,
audio,
canvas,
command,
datalist,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
keygen,
meter,
nav,
output,
progress,
section,
source,
video {
    display: block;
}

mark,
rp,
rt,
ruby,
summary,
time {
    display: inline;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}